@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    font-family: 'Source Sans 3', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    user-select: none;
}

html{
    font-size: 5.31vw ;

    /* font-size:22px */
}

:root {
    --brandClr: #802A8F;
    --pinkClr: #f0d0dd;
    --pinkClr2: #f0d0dc;
    --blackColor : #000;
    --whiteColor : #Fff;
    --brandclr: #802a8f;
  --whycioncardbg: #d37fa0;
  --colorBlack: #444444;
  --ourServicesGrayClr: #979797;
  --FindOurLocationsbgclr: #fbe4ff;
  --ourservicesCardBorderClr: #d5d5d5;
  --ourDoctorsBoxShadow: 16px 18px 45px 0px #00000026;
}

.main-app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

@media screen and (min-width:768px){
    html {
        font-size: 2.76vw;
    }

    .main-app{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 100% !important;
    }

}

.resuable-head-title {
    padding-top: 1.227rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.199rem;
    text-align: center;
    color: black;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  .resuable-head-title span {
    color: var(--brandclr);
    /* border-bottom: 3px solid var(--brandclr);
    /* padding: 0 0.5555rem;
    position: relative;
    left: -0.5555rem; */ 
  }
  
  .resuable-head-description {
    color: var(--ourServicesGrayClr);
    font-size: 0.622rem;
    padding-top: 0.714rem;
    text-align: center;
    width: 11.57rem;
    margin: 0 !important;
  }
  
  @media screen and (min-width: 768px) {
  .resuable-head-title {
    padding-top: 1.207rem;
  }
  .resuable-head-title span {
    color: var(--brandclr);
  }
  .resuable-head-description {
    color: var(--ourServicesGrayClr);
    font-size: 0.415rem;
    padding-top: 0.358rem;
    width: auto;
  }
  }