.typesofbiopsy-container{
    text-align: center;
    padding: 0px 0.64rem;
    margin-top : 1.77rem;
  }

  .typesofbiopsy-container__cardscontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.72rem;
    margin-top:1rem;
  }
  
  .typesofbiopsy-container__eachcard{
    width: 8.18rem;
    height: 9.63rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 0.35rem;
    box-shadow: 0rem 0.07rem 0.328rem 0rem #9EA8BD4F;
  box-shadow: 0.5380151271820068px 0.5380151271820068px 3.228090763092041px 0px #00000026;
  }
  
  .typesofbiopsy-container__eachcard >  img{
    width: 4.4rem;
    height: 4.4rem;
    position: absolute;
    top: 1.28rem;
  }
  
  .typesofbiopsy-container__eachcard > p{
    font-size: 1rem;
    font-weight: 600;
    width: 6.59rem;
    height: 1.15rem;
    color: #000;
    position: absolute;
    top: 6.36rem;
    text-transform: capitalize;
    line-height: 1.13rem;
  }


  #myDialog{
    background-color: red;
    width: 100%;
    align-self: center;
    justify-self: center !important;
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }


  @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }


  @media screen and (min-width : 768px) {
    .typesofbiopsy-container{
        margin: 0rem 0rem  2.39rem 0rem;
    }
    .typesofbiopsy-container__cardscontainer{
        gap: 0.81rem;
    }
    .typesofbiopsy-container h2{
        margin-bottom: 0.5rem;
    }
    .typesofbiopsy-container__eachcard{
        width: 7.63rem;
        height: 7.38rem;
        border-radius: 0.26rem;
        /* box-shadow: 0rem 0.13rem 0.60rem 0rem #9EA8BD4F;

        box-shadow: 0.018rem 0.018rem 0.11rem 0rem #00000026; */
        box-shadow: 0px 7.14px 32.15px 0px #9EA8BD4F;

        box-shadow: 0.99px 0.99px 5.96px 0px #00000026;

  
    }
    
    .typesofbiopsy-container__eachcard > img{
        width: 3.37rem;
        height: 3.37rem;
        top: 1rem;
    }
    .typesofbiopsy-container__eachcard > p{
        font-size: 0.62rem;
        top: 5.22rem;
        width: 5.71rem;
        font-weight: 600;
        line-height: 0.6rem;
    }
}